@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #283618;
  --color-secondary: #A96121;
  --color-accent: #87c650;
  --color-primary-content: #FEFAE0;
  --color-secondary-content: var(--color-primary-content);
  --color-accent-content: var(--color-primary);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility tab {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  appearance: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  webkit-user-select: none;
  user-select: none;
  &:hover {
    @media (hover: hover) {
      color: currentColor /* var(--color-base-content) */;
    }
  }
  --tab-p: 1rem /* 16px */;
  --tab-bg: var(--color-base-100) /* var(--color-base-100) */;
  --tab-border-color: var(--color-base-300) /* var(--color-base-300) */;
  --tab-radius-ss: 0;
  --tab-radius-se: 0;
  --tab-radius-es: 0;
  --tab-radius-ee: 0;
  --tab-order: 0;
  --tab-radius-min: calc(0.75rem /* 12px */ - var(--border));
  border-color: #0000;
  order: var(--tab-order);
  height: var(--tab-height);
  font-size: 0.875rem /* 14px */;
  padding-inline-start: var(--tab-p);
  padding-inline-end: var(--tab-p);
  &:is(input[type="radio"]) {
    min-width: fit-content;
    &:after {
      content: attr(aria-label);
    }
  }
  &:is(label) {
    position: relative;
    input {
      position: absolute;
      inset: calc(0.25rem /* 4px */ * 0) /* 0rem = 0px */;
      cursor: pointer;
      appearance: none;
      opacity: 0%;
    }
  }
  &:checked, &:is(label:has(:checked)), &:is(.tab-active, [aria-selected="true"]) {
    & + .tab-content {
      display: block;
      height: calc(100% - var(--tab-height) + var(--border));
    }
  }
  &:not(:checked, label:has(:checked), :hover, .tab-active, [aria-selected="true"]) {
    color: color-mix(in oklab, currentColor /* var(--color-base-content) */ 90%, transparent);
  }
  &:not(input):empty {
    flex-grow: 1;
    cursor: default;
  }
  &:focus {
    --tw-outline-style: none;
    outline-style: none;
    @media (forced-colors: active) {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }
  }
  &:focus-visible, &:is(label:has(:checked:focus-visible)) {
    outline: 2px solid currentColor;
    outline-offset: -5px;
  }
  &[disabled] {
    pointer-events: none;
    opacity: 40%;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
